/* .jumbotron {
  background-color: ;
} */

.display-6,
h2 {
  color: maroon;
}

.btn {
  background-color: maroon;
}
/* 
.lead {
  color: ;
} */

.inform {
  font-size: smaller;
}

.watch {
  color: maroon;
}
