.nav-item {
  font-weight: bold;
  font-size: 12pt;
}

.title {
  color: maroon;
  margin-top: -10px;
}

#intro {
  font-weight: normal;
  font-size: large;
  line-height: 1.7;
}

.responsive {
  /* margin-left: -32px; */
  width: 100%;
  height: auto;
}

.chart,
.chart-2 {
  border: 1px solid darkgray;
  border-radius: 8px;
  padding: 10px;
  font-size: smaller;
  width: 98%;
  box-shadow: 10px 10px 12px gray;
}

h3 {
  color: maroon;
}

.inform {
  font-size: smaller;
}

p {
  font-size: larger;
  line-height: 1.7;
}

.container-two {
  display: flex;
}

.column-one {
  flex: 2;
}

.column-two {
  flex: 1;
  margin-left: 40px;
  /* background-color: white; */
}

#up {
  display: block;
  text-align: center;
  font-size: small;
}

@media (min-width: 992px) {
  #up {
    display: none;
  }
}

@media (max-width: 992px) {
  .container-two {
    flex-direction: column;
    width: auto;
  }
  #btt {
    display: none;
  }
}

.btn {
  border: 1px solid lightgray;
  float: right;
  color: white;
  background-color: maroon;
}

.btn:hover {
  background-color: rgb(168, 36, 36);
  color: white;
}

/* @media (max-width: 992px) {
  #btt-2 {
    display: none;
    font-size: 10pt;
  }
} */

.column-two p {
  font-size: smaller;
}

@media (max-width: 992px) {
  .column-two {
    flex-direction: column;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

#ast {
  font-size: 10pt;
  /* padding-top: 15px; */
}

.box-header {
  background-color: white;
  box-shadow: 0px 10px 20px 3px gray;
}

li {
  font-size: 10pt;
}

.reduce {
  box-shadow: 0px 10px 20px 0px gray;
}

.reduce {
  border: 1px solid lightgray;
  border-bottom: none;
  padding: 15px;
  margin-bottom: 0px;
  background-color: white;
}

.box-header {
  border: 1px solid lightgray;
  padding: 15px;
}

@media (max-width: 1400px) {
  .icon,
  .icon_1 {
    display: none;
  }
}

@media (min-width: 1400px) {
  .icon_2,
  .icon_3,
  .icon_4 {
    display: none;
    background-color: none;
  }
}

@media (max-width: 1399px) {
  .icon_2,
  .icon_3,
  .icon_4 {
    display: inline-block;
  }
}

html {
  scroll-behavior: smooth;
}

#btt {
  /* display: inline-block; */
  color: black;
  text-align: right;
  font-size: smaller;
}

#btt a {
  color: black;
}

span {
  font-size: 20pt;
  color: black;
}

.icon_foot {
  float: left;
  text-align: center;
  padding-top: 15px;
}

@media (max-width: 1400px) {
  .icon,
  .icon_1 {
    display: none;
  }
}

@media (min-width: 1400px) {
  .icon_2,
  .icon_3,
  .icon_4 {
    display: none;
    background-color: none;
  }
}

@media (max-width: 1399px) {
  .icon_2,
  .icon_3,
  .icon_4 {
    display: inline-block;
  }
}

.unit_one {
  display: inline-block;
  margin-left: -60px;
}

@media (min-width: 1200px) {
  .info {
    margin-left: 55px;
  }
}

/* .hide {
  display: none;
}

#scripture:hover + .hide {
  display: block;
  color: red;
} */
